[submodule "lib/trimgui"]
	path = lib/trimgui
	url = https://github.com/kanetaka/trimgui.git
[submodule "lib/CLI11"]
	path = lib/CLI11
	url = https://github.com/CLIUtils/CLI11.git
[submodule "lib/json"]
	path = lib/json
	url = https://github.com/nlohmann/json.git
